.main{
    // width: calc(100% - 26rem);
    // border: 1px solid red;
    height: 40%;
    // margin-top: -20rem;
    margin-left: 26rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    justify-content: space-between;
    & .card{
        border-radius: 1rem;
        background-color: var(--bg-card);
        padding: 1rem;
        width: 30rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // border: 1px solid blue;
        & p{
            margin-top: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--foreground-color);
        }
        & h1{

            font-size: 3rem;
            font-weight: 800;
            color: var(--brand-color);
        }
    }
}